<footer>
  <div class="footer-info">
    <div class="colum1-footer">
      <img src="assets/images/logo_ecopanels-verde.png" alt="Logo Ecopanels Energy">
      <div class="social-networks">
        <a href="" target="_blank"><img src="assets/images/Logo_Facebook_Blanco.png" alt="Logo Facebook"></a>
        <a href="" target="_blank"><img src="assets/images/Logo_Instagram_Blanco.png" alt="Logo Instagram"></a>
        <a href="" target="_blank"><img src="assets/images/Logo_Linkedin_Blanco.png" alt="Logo LinkedIn"></a>
        <a href="" target="_blank"><img src="assets/images/Logo_WhatsApp_Blanco.png" alt="Logo WhatsApp"></a>
      </div>
    </div>
    <div class="colum2-footer">
      <div class="column">
        <div class="row-footer">
          <a routerLink="/inicio" (click)="scrollTop()">INICIO</a>
        </div>
        <div class="row-footer">
          <a routerLink="/nosotros" (click)="scrollTop()">NOSOTROS</a>
        </div>
        <div class="row-footer">
          <a routerLink="/servicios" (click)="scrollTop()">SERVICIOS</a>
        </div>
        <div class="row-footer">
          <a routerLink="/proyectos" (click)="scrollTop()">PROYECTOS</a>
        </div>
                <div class="row-footer">
          <a routerLink="/contacto" (click)="scrollTop()">CONTACTO</a>
        </div>
      </div>
    </div>
    <div class="colum3-footer">
      <div class="column">
        <h1 id="contact-information">CONTACTO</h1>
        <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Correo_Blanco.png"
            alt="Logo Correo"><span>info@ecopanels.co</span></div>
        <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Telefono_Blanco.png"
            alt="Logo WhatsApp"><span>300 306 8193</span></div>
        <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Ubicacion_Blanco.png"
            alt="Logo WhatsApp"><span>Medellín, Antioquia</span></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p id="copyright">© {{ currentYear }} Todos los Derechos Reservados | Ecopanels Energy</p>
  </div>
</footer>